@import "nav.css";
@import "footer.css";
@import "variables.css";
@import "typography.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* list-style: none; */
  gap: 2em;
}

.blog-post-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 60%;
  margin: auto;
  margin-top: 5em;
  height: 80vh;
  overflow: scroll;
}

.blog-post-box > section {
  grid-column: span 4;
  
}

.blog-post-box > aside {
  grid-column: span 2;
}

.blog-post > * {
 margin: 1em;
}

.blog-post-header > h1 {
  font-size: 2rem;
}
.blog-post-header > p {
  color: var(--gray);
}
a {
  color: var(--blue);
}

h2, h3 {
  margin-bottom:0.3em;
}
hr{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  box-sizing: content-box;
  border: 0;
  border-bottom: solid 0.1px var(--light-gray);
}

.add-space > * {
  margin: 1em;
  margin-left: 0;
  margin-right: 0;
}

.add-borders {
  border: solid 1.5px var(--gray);
  padding-bottom: 1em;
}

code {
  display: block;
  padding-left: 1em;
  font-size: 1rem;
}

div.add-space > ul,ol {
  display: block;
  padding-left: 10%;
}

button  {
  border-radius: 2em;
  height: 2.5em;
  width: 7em;
  border-style: none;
  color: var(--blue);
  border: solid 1px var(--blue);
  background-color: transparent;
}

button + button {
  color: var(--gray);
  border-color: var(--gray);
}


aside {
  display: grid;
  grid-template-rows: repeat(4,1fr);
}



.grid-2r {
  grid-row: span 1;
}

.grid-1r {
  grid-row: span 1;

}

.link-list {
  display: block;
  list-style: none;
}
.link-list  > li > a {
  color: var(--blue);

}

.auther {
  background-color: var(--light-gray);
  height: 80%;
}
.auther > * {
  margin: 1em;

}
.auther > h3 {
  padding-top: 1em;
}
aside > *:not(:first-child) {
  display: block;
  margin-left: 1em;
}


@media (max-width: 780px) {
  body {
    width: 100%;
  }
  .blog-post-box {
    display: inline;
    flex-direction: column;
    margin: 1em;
    width: 100%;
    margin: 0;
    
  }
  /* .blog-post-box > * {
   display: block;
  } */

  aside {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  aside > * {
    flex: 1 1 33%;
    height: 100%;
  }
  
}
