
footer {
  background-color: var(--light-gray);
  height: 6em;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

footer * {
  margin: auto;
}

footer > :first-child {
  padding-top: 1.5em;
}

footer > p {
  color: var(--gray);
}
