@import "variables.css";
@import "nav.css";
@import "cards.css";
@import "footer.css";
@import "typography.css";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  margin-top: 2em;
}

a {
  color: var(--blue);
}

.green {
  color: var(--green);
}

time {
  font-size: 0.8rem;
  color: var(--gray);
}
