header {
  background-color: var(--light-gray);
  display: flex;
  height: 5em;
}

nav {
  width: 60%;
  margin: auto;
}

li > h1 {
  text-decoration: underline;
  font-size: 1.8rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
li > a {
  color: var(--gray);
}

